* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    overflow: hidden;
  }
  
  #three-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  
  .overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: left;
  }
  
  .content {
    max-width: 300px;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  #player-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  